.post{
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 10px rgba(238, 238, 238, 1);
    margin-top: 15px;
    border-radius: 10px;
}

.control-post{
    padding: 15px;
}

.box-post{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.box-post img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;

}

.box-post button{
    width: 100%;
    border: none;
    background-color: #eee;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: #555;
}

.box-post button:hover{
    cursor: pointer;
    background-color: #EBEDF0;
}

.control-post ul{
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.control-post ul li{
    list-style: none;
    padding: 10px 20px;
    color:#555;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.control-post ul li:hover{
    cursor: pointer;
    background-color: #eee;
    border-radius: 10px;
}

.control-post ul li .icon-img{
    margin-right: 5px;
    font-size: 25px;
    color: green;
}

.control-post ul li .icon-smile{
    margin-right: 5px;
    font-size: 25px;
    color: yellow;
}

.control-post ul li .icon-video{
    margin-right: 5px;
    font-size: 25px;
    color:red;
}