*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 5px rgba(238, 238, 238, 1);
}
.box1{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.box1 .logo{
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    background-color: #385898;
    padding: 15px;
    border-radius: 50%;
}
.box1 input{
    width: 220px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    background-color: #eee;
    margin-right: 20px;
}
.box1 input:focus{
    outline: none;
}
.box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.box2 ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.box2 ul li{
    list-style: none;
    padding: 15px 45px;
    font-size: 28px;
    margin: 0px 5px;
    border-radius: 10px;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 ul li:hover{
    background-color: #eee;
    cursor: pointer;

}
.box3{
    margin-right: 10px;
}
.box3 ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.box3 ul li{
    list-style: none;
    width: 40px;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    background-color: #CCD0D5;
    margin: 5px 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box3 ul .profile{
    width: 80px;
    border-radius: 20px;
    margin-right: 20px;
    background-color: #fff;
    margin-left: 20px;
}
.box3 ul .profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.box3 ul li:hover{
    background-color: #eee;
    cursor: pointer;
}

.box2 ul li.active{
    color: #385898;
    border-radius: 0;
    border-bottom: 5px solid #385898;
}

.box2 ul li.active:hover{
    background-color: #fff;
}

@media only screen and (max-width: 480px){
    .header{
        max-width: 480px;
        width: 100%;
    }
    .box1{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .box1 input{
        width: 390px !important;
    }
    .box2{
        display: none;
    }

    .box3{
        display: none;
    }
}

@media only screen and (max-width: 768px){
    .header{
        max-width: 768px;
        width: 100%;
    }
    .box1{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .box2{
        display: none;
    }
    .box1 input{
        width: 300px;
    }
}