.post-items{
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 10px rgba(238, 238, 238, 1);
    margin-top: 15px;
    border-radius: 10px;
}
.item{
    width: 100%;
    padding: 15px;
}
.control-people{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.people-post{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.people-post>div>span{
    color: #555;
    font-size: 13px;
}
.post-act{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.post-act:hover{
    background-color: #eee;
}
.post-act span{
    font-size: 30px;
    color: #555;
    cursor: pointer;
}
.post-act ul{
    position: absolute;
    top: 40px;
    right: 0;
    width: 350px;
    background-color: #fff;
    box-shadow: 5px 15px 18px #CCCCCC;
    padding: 10px;
    z-index: 2;
}
.post-act ul li{
    list-style: none;
    color: #000;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 22px;
}
.post-act ul li span{
    font-size: 15px;
    color: #555;
    margin-left: 10px;
}
.post-act ul li .edit-detail p{
    margin-left: 10px;
    font-size: 13px;
}
.post-act ul li p{
    color: #555;
    font-size: 14px;
}
.post-act ul li:hover{
    cursor: pointer;
    background-color: #eee;
}
.post-act ul .line-edit{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #eee;
}
.people-post img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    object-fit: cover;
}
.people-post h4{
    color: #000;
    font-weight: 600;
    font-size: 16px;
}
.post-content{
    margin-top: 15px;
    padding-bottom: 10px;
    max-width: 528px;
    word-wrap: break-word;

}

.show-comment{
    border-bottom: 1px solid #eee;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.show-comment .emoji-comment{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.show-comment .emoji-comment p{
    margin-left: 5px;
    color: #555;
    font-size: 14px;
}

.show-comment .count-comment{
    color: #555;
    font-size: 14px;
}

.show-comment .count-comment:hover,.show-comment .emoji-comment:hover{
    cursor: pointer;
    text-decoration: underline;
}

.control-emoji{
    background-color: #1877f2;
    padding: 2px;
    border-radius: 50%;
    width: 20px;
    text-align: center;
}

.show-comment .emoji-comment .like-active{
    color: #fff;
    font-size: 12px;
}
.post-like{
    margin-top: 5px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.post-like ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-like ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    color: #555;
    font-weight: 400;
    padding: 5px;
    border-radius: 5px;
}

.post-like ul li:hover{
    cursor: pointer;
    background-color: #eee;
}

.post-like .like,.post-like .message{
    margin-right: 5px;
    font-size: 20px;
}
.post-comment{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.post-comment img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.post-comment input{
    width: 100%;
    border: none;
    border-radius: 50px;
    background-color: #eee;
    color: #555;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}
.post-comment input:focus{
    outline: none;
}

.post-like ul .active{
    color: #1877f2;
}

.modal-edit{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(238, 238, 238, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-modal-edit{
    position: relative;
    width: 500px;
    height: 430px;
    background-color: #fff;
    box-shadow: 5px 10px 18px #CCCCCC;
    border-radius: 10px;
}

.control-modal-edit .close-edit{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 300;
    width: 40px;
    height: 40px;
    background-color: #eee;
    border-radius: 50%;
    text-align: center;
    color: #555;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.control-modal-edit .close-edit:hover{
    background-color: #CCCCCC;
}